*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%;
}
.main{
    width:100%;
    height:100%;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main img{
    height:600px;
    width:600px;
    position: relative;
    z-index: 99;
    object-fit: cover;
}
#text{
    font-size:30px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    top:10%;
    z-index: 999;
    text-transform: uppercase;
    text-align: center;

}
.scroll-div{
    position: absolute;
    top:23%;
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-div::-webkit-scrollbar{
    display: none;
}
.scroll-div h1{
    display:inline-block;
    font-size: 120px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 3px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;  
}
.scroll-div2{
    position: absolute;
    top:46%;
    width:100%;
    z-index: 100;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-div2::-webkit-scrollbar{
    display: none;
}
.scroll-div2 h1{
    display:inline-block;
    font-size: 120px;
    font-family: 'Times New Roman', Times, serif;
    color: transparent;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.scroll-div3{
    position: absolute;
    top:69%;
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-div3::-webkit-scrollbar{
    display: none;
}
.scroll-div3 h1{
    display:inline-block;
    font-size: 120px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 3px;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}
@keyframes scroll{
    0%{
        transform : translateX(calc(-100% - 32px));
    }
    100%{
        transform : translateX(0); 
    }
}